In [3]:
import os
os.listdir()

['pandas-anatomy-of-a-dataframe.png',
 '.ipynb_checkpoints',
 'airports.csv',
 'airlines.csv',
 'car-sales-missing-data.csv',
 'pandas-practice.ipynb',
 'Airlines-project-analysis.ipynb',
 'exported-car-sales.csv',
 'exported-records_students.csv',
 'car-sales.csv',
 'introduction-to-pandas.ipynb']

In [4]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [5]:
series = pd.Series(["Html","css","JavaScript","Python"])
series

0          Html
1           css
2    JavaScript
3        Python
dtype: object

In [6]:
series.count()

4

In [7]:
series.value_counts()

Html          1
css           1
JavaScript    1
Python        1
dtype: int64

In [8]:
students_data = pd.Series(["Ben","Ampah","Alex","Quansah"])
students_data

0        Ben
1      Ampah
2       Alex
3    Quansah
dtype: object

In [9]:
records_students = pd.DataFrame({"students":students_data, "Programming":series})

In [10]:
records_students

  students Programming
0      Ben        Html
1    Ampah         css
2     Alex  JavaScript
3  Quansah      Python

In [11]:
records_students.to_csv("exported-records_students.csv",index=False)

In [12]:
records_students

  students Programming
0      Ben        Html
1    Ampah         css
2     Alex  JavaScript
3  Quansah      Python

In [13]:
records_students.dtypes

students       object
Programming    object
dtype: object