In [2]:
#importing the libraries needed
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

## Loading the Covid_vaccines Dataset

In [7]:
covid_vaccines = pd.read_csv("covid19vaccinesadministeredbydemographics.csv")
covid_vaccines

,demographic_category,demographic_value,administered_date,total_doses,cumulative_total_doses,pfizer_doses,cumulative_pfizer_doses,moderna_doses,cumulative_moderna_doses,jj_doses,cumulative_jj_doses,partially_vaccinated,total_partially_vaccinated,fully_vaccinated,cumulative_fully_vaccinated,at_least_one_dose,cumulative_at_least_one_dose,booster_recip_count,cumulative_booster_recip_count
0,Age Group,18-49,2022-03-08,8219,33212597,5311,19574942,2649,12321983,242,1301298,1475,1766522,1455,13112504,1624,14879026,5061,6120140
1,Age Group,50-64,2022-03-08,2937,16332473,1651,8659419,1190,6919606,81,738914,365,665935,344,6199910,397,6865844,1995,3745822
2,Age Group,65+,2022-03-08,1951,14770183,973,6934877,907,7574521,28,243663,194,603187,204,5396702,202,5999889,1117,3796654
3,Age Group,12-17,2022-03-08,1919,5213509,1905,5192333,1,10648,0,1299,346,259772,509,2075192,348,2334961,1050,570676
4,Age Group,5-11,2022-03-08,3298,2484587,67,38657,0,1696,0,249,1353,225117,1933,1120692,1353,1345808,7,1258
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9612,Gender,Male,2020-03-03,1,2,0,1,1,1,0,0,0,0,0,0,1,2,0,0
9613,Race/Ethnicity,Asian,2020-03-03,1,1,0,0,1,1,0,0,0,0,0,0,1,1,0,0
9614,Age Group,18-49,2020-01-05,1,1,1,1,0,0,0,0,0,0,0,0,1,1,0,0
9615,Gender,Male,2020-01-05,1,1,1,1,0,0,0,0,0,0,0,0,1,1,0,0
9616,Race/Ethnicity,Latino,2020-01-05,1,1,1,1,0,0,0,0,0,0,0,0,1,1,0,0

In [8]:
covid_vaccines.head()

,demographic_category,demographic_value,administered_date,total_doses,cumulative_total_doses,pfizer_doses,cumulative_pfizer_doses,moderna_doses,cumulative_moderna_doses,jj_doses,cumulative_jj_doses,partially_vaccinated,total_partially_vaccinated,fully_vaccinated,cumulative_fully_vaccinated,at_least_one_dose,cumulative_at_least_one_dose,booster_recip_count,cumulative_booster_recip_count
0,Age Group,18-49,2022-03-08,8219,33212597,5311,19574942,2649,12321983,242,1301298,1475,1766522,1455,13112504,1624,14879026,5061,6120140
1,Age Group,50-64,2022-03-08,2937,16332473,1651,8659419,1190,6919606,81,738914,365,665935,344,6199910,397,6865844,1995,3745822
2,Age Group,65+,2022-03-08,1951,14770183,973,6934877,907,7574521,28,243663,194,603187,204,5396702,202,5999889,1117,3796654
3,Age Group,12-17,2022-03-08,1919,5213509,1905,5192333,1,10648,0,1299,346,259772,509,2075192,348,2334961,1050,570676
4,Age Group,5-11,2022-03-08,3298,2484587,67,38657,0,1696,0,249,1353,225117,1933,1120692,1353,1345808,7,1258

## Loading the Covid_data Dataset

In [6]:
covid_data = pd.read_csv("covid19vaccinesbycounty.csv")
covid_data

,county,administered_date,total_doses,cumulative_total_doses,pfizer_doses,cumulative_pfizer_doses,moderna_doses,cumulative_moderna_doses,jj_doses,cumulative_jj_doses,partially_vaccinated,total_partially_vaccinated,fully_vaccinated,cumulative_fully_vaccinated,at_least_one_dose,cumulative_at_least_one_dose,california_flag,booster_recip_count,cumulative_booster_recip_count
0,Alameda,2020-01-05,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,0,0
1,Alameda,2020-03-03,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,0,0
2,Alameda,2020-07-27,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,0,0
3,Alameda,2020-07-29,0,1,0,0,0,1,0,0,0,0,0,0,0,1,NaN,0,0
4,Alameda,2020-07-30,0,1,0,0,0,1,0,0,0,0,0,0,0,1,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36699,Yuba,2022-03-04,85,91482,40,37061,36,47318,1,4704,11,3843,28,37923,12,41808,California,46,15587
36700,Yuba,2022-03-05,42,91524,19,37080,11,47329,0,4704,11,3854,16,37939,11,41819,California,15,15602
36701,Yuba,2022-03-06,19,91543,12,37092,5,47334,1,4705,1,3855,5,37944,2,41821,California,13,15615
36702,Yuba,2022-03-07,52,91595,22,37114,23,47357,0,4705,8,3863,11,37955,8,41829,California,33,15648
36703,Yuba,2022-03-08,25,91620,13,37127,8,47365,0,4705,6,3869,11,37966,6,41835,California,8,15656